{% extends "base.html" %}

{% block title %} Jobs | Login {% endblock %}

{% block content %}


    {% if form.errors %}
   
   

        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-6 align-items-center">
                <div class="card shadow-lg text-center rounded" style=" margin: 50px; height: 450px; border-radius: 50px;">
                    <div class="card-body">
                        <h1 class="card-title" style="margin-top: 50px;">LOGIN</h1>

                            <h4 class="alert alert-danger" role="alert" style="margin: 20px;">
                                Sorry Invalid Login
                                {{ form.errors.message }}
                            </h4>
                       

                        <form action="{% url 'login' %}" method="post">
                            <!-- <p>{{ form.as_p }}</p> -->
                            <h4>
                                {{ form.username.label_tag }} {{ form.username }}
                            </h4>

                            <h4>
                                {{ form.password.label_tag }} {{ form.password }}
                            </h4>
                            

                            {% csrf_token %}
    
                            <!-- *****************Edit Nothing Below***************** -->
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button type="submit" class="btn btn-primary btn-lg" >Sign In</button>
    
                        </form>
    
                        <p style="margin-top: 20px;">
                            <a href="{% url 'register' %}">Don't have an account? Create an Account</a>
                        </p>
                
                        <p>
                            <a href="{% url 'password_reset' %}">Forgot your password?</a>
                        </p>
    
    
                    </div>
                </div>
            </div>
        </div>

        
    {% else %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6 align-items-center">
            <div class="card shadow-lg text-center rounded" style=" margin: 50px; height: 450px; border-radius: 50px;">
                <div class="card-body">
                    <h1 class="card-title" style="margin-top: 50px;">LOGIN</h1>
                    <form action="{% url 'login' %}" method="post">
                        <h4>{{ form.as_p }}</h4>
                        {% csrf_token %}

                        <!-- *****************Edit Nothing Below***************** -->
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-primary btn-lg" >Sign In</button>

                    </form>

                    <p style="margin-top: 20px;">
                        <a href="{% url 'register' %}">Don't have an account? Create an Account</a>
                    </p>
            
                    <p>
                        <a href="{% url 'password_reset' %}">Forgot your password?</a>
                    </p>


                </div>
            </div>
        </div>
    </div>
 

    {% endif %}
    {% endblock %}






