{% extends "base.html" %}
{% block title %} Jobs | Reset Password {% endblock %}


{% block content %}

    <h1>
        Reset Your Password
    </h1>

    {% if validlink %}
        <p>Please enter your new password</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Reset My Password">
            </p>
        </form>

        {% else %}
            <p>
                Invalid link, it has been used. Please request a new link
            </p>

    {% endif %}

{% endblock %}




